html {
  font-size: 18px;
}

body {
  font-family: "Helvetica", sans-serif;
  background-color: black;
  color: white;
}

/* *************** */
/* flex containers */
/* *************** */

.flexrow {
  display: flex;
  /*justify-content: center;*/
  align-items: center;
}

.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
}

/* ************** */
/* common classes */
/* ************** */

.container {
  /*background-color: green;*/

  width: 960px;
  margin: 0 auto;
}

/* *************** */
/* Header elements */
/* *************** */

#logo {
  width: 100%;
}

#logo img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

#logo span {
  margin: 0.66rem 0;
}

#main-banner {
  background: url("../images/moto.jpeg") no-repeat center;
  background-size: cover;
  height: 25rem;
  width: 100%;
}

#main-banner-textbox {
  background-color: black;
  width: 20rem;
  margin-top: 9rem;
  padding: 2rem 3rem;
  font-weight: bold;
}

#main-banner-textbox h2 {
  font-size: 2rem;
  margin-top: 0.25rem;

}

#nav {
  background-color: firebrick;
  width: 100%;
}

/* ************* */
/* main elements */
/* ************* */

#main {
  background-color: white;
}

/* *************** */
/* Footer elements */
/* *************** */

#copyright {

}
