html {
  font-size: 18px;
}

body {
  font-family: "Helvetica", sans-serif;
  background-color: black;
  color: white;
}

/* *************** */
/* flex containers */
/* *************** */

.flexrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ************** */
/* common classes */
/* ************** */

/* Changed   "width: 960px;" to   "max-width: 960px;" so the contents */
/* will automatically shrink when the screen-size gets smaller in its */
/* width   --   This is necessary for the media queries below.        */
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* *************** */
/* Header elements */
/* *************** */

#logo {
  width: 100%;
}

#logo img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
  vertical-align: middle;
}

#logo span {
  display: inline-block;
  margin: 0.66rem 0;
}

#main-banner {
  background: url("../images/moto.jpeg") no-repeat center;
  background-size: cover;
  height: 25rem;
  width: 100%;
}

#main-banner-textbox {
  background-color: black;
  width: 20rem;
  margin-top: 9rem;
  padding: 2rem 3rem;
  font-weight: bold;
}

#main-banner-textbox h2 {
  font-size: 2rem;
  margin-top: 0.25rem;
}

#nav {
  background-color: firebrick;
  width: 100%;
  padding: 0.75rem 0;
}

nav span a {
  text-decoration: none;
  color: white;
}

#nav-mobile {
  display: none;
}

/* ************* */
/* main elements */
/* ************* */

#main {
  background-color: white;
  padding: 3rem 0 4rem;
}

#products {

}

.product {
  border: 4px solid black;
  width: 30%;
}

.product img {
  height: 9rem;
  padding: 2rem;
}

.product span {
  background-color: black;
  text-align: center;
  padding: 0.5rem 0;
}

#information {
  margin-top: 3rem;
}

.infobox {
  width: 35%;
}

.infobox span:first-of-type {
  background-color: black;
  padding: 1rem 0 1rem 2rem;
}

.infobox span:last-of-type {
  color: black;
}

/* *************** */
/* Footer elements */
/* *************** */

#copyright {
  height: 5rem;
}


/* ****************************************** */
/* Styling for screens less than 1024px width */
/* ****************************************** */

/* *************** */
/* flex containers */
/* *************** */

/*.flexrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}*/


@media only screen and (max-width: 1024px) {

  body {
    font-size: 16px;
  }

  #main-banner {
    font-size: 0.77rem;
  }

  /* How to always position item "Menu" in the center of the screen?  */
  /* => CHANGE   "width: 100%:"   TO   "max-width: 100%;"   !!!       */
  /* I could have done this further up, but wanted to illustrate here */

  nav {
    max-width: 100%;
  }

  #nav-desktop {
    display: none;
  }

  #nav-mobile {
    display: flex;
    justify-content: center;
  }

  .product {
    width: 47%;
  }

  .product.glasses {
    display: none;
  }

  .product img {
    max-width: 50%;
    margin: 0 auto;
  }

}


/* ***************************************** */
/* Styling for screens less than 470px width */
/* ***************************************** */

/*@media only screen and (max-width: 470px) {

  #main-banner {
    height: 15rem;
  }

  #main-banner-textbox {
    width: 100%;
    margin-top: 10rem;
    padding: 1rem 2rem;
  }

  #main-banner-textbox h2 {
    font-size: 1rem;
    margin-top: 1.25rem;
  }

  #main-banner-textbox h3 {
    font-size: 0.77rem;
  }

  .products {
    width: 90%;
  }

  .product.watch {
    display: none;
  }

  .information {
    display: flex;
    flex-wrap: wrap;
  }

}*/
